.nav__list {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
}

.nav__list-item {
    margin: 0;
}

.nav__link {
    display: block;
    padding: 1em;
    text-decoration: none;
}