.header {
    background-color: var(--color-purple);
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 60rem;
}

.home-link {
    margin: 0;
    min-width: 3.125rem;
    width: 3.125rem;
}

.home-link__link {
    color: var(--color-white);
    text-decoration: none;
}

.primary-nav {
    &.primary-nav--mobile {
        display: none;
    }
}


.primary-nav__list {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
}

.primary-nav__list-item {
    margin: 0;
}

.primary-nav__link {
    color: var(--color-white);
    display: block;
    padding: 1em;
    text-decoration: none;

    &:hover {
        background-color: var(--color-purple-dark-10);
    }

    &:active {
        background-color: var(--color-purple-dark-20);
    }
}



@media screen and (--small-down) {
    .header {
        padding: .5em 1em;
    }

    .primary-nav {
        &.primary-nav--desktop {
            display: none;
        }

        &.primary-nav--mobile {
            display: block;
        }
    }
}